input {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

.input {
    margin: 5px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    transition: 200ms all ease-in-out;
}

.input:focus-within {
    border: 2px solid rgba(0, 0, 0, 0.801);;
}
  

