/* .form {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form textarea {
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    background-color: var(--background-color);
    border: 2px solid var(--border-color);
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color);
    outline: none;
    transition: 200ms all ease-in-out;
}

.form textarea:focus-within {
    border: 2px solid var(--hover-color);
}
 */
