@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #192e3a;
  background-size: 100%;
  background-position: 50% -160px;
  background-repeat: repeat-y;
  font-size: 1.6rem;
  height: 100vh;
}

code {
  font-family: 'Poppins', sans-serif;
}
